@import "tailwindcss";

@theme {
  --color-app-bg: #FDF8F0;
  --color-app-dark: #1A1A1A;
  --color-app-pink: #F5B8DB;
  --color-app-green: #9AAB63;
  --color-app-blue: #B6CAEB;
  --color-app-yellow: #F5D867;
  
  --font-heading: "Outfit", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --font-devanagari: "Tiro Devanagari Hindi", serif;
}

@layer base {
  body {
    @apply bg-app-bg text-app-dark font-body antialiased selection:bg-app-pink/30;
  }
}
